<!DOCTYPE html>
<HTML lang="en">
<HEAD>
<TITLE>Module Registry</TITLE>
</HEAD>
<BODY BGCOLOR="FFFFFF" >


<H2>Click on link below to access Module Registry </H2>

<p><a href="/packagesListInput">Access Packages List</a></p>
<p><a href="/upload">Upload New Package</a></p>
<p><a href="/getPackageID">Get Package ID</a></p>
<p><a href="/packageIDUpdate">Update Package ID</a></p>
<p><a href="/packageRateID">Package Rate ID</a></p>
<p><a href="/toResetRegistry">Reset Registry</a></p>


<BR> <B><I></I></B>
<HR>
</BODY>
</HTML>