<!DOCTYPE html>
<HTML lang="en">
<HEAD>
<TITLE>Welcome to the Module Registry</TITLE>
</HEAD>
<BODY BGCOLOR="FFFFFF">
<H1>Welcome to Team 36's Module Registry</H1>
<H2>This is our Homepage</H2>

<H2>Click on link below to access Module Registry </H2>

<p><a href="https://module-registry-website-4a33ebcq3a-uc.a.run.app/packagesListInput">Access Packages List</a></p>
<p><a href="https://module-registry-website-4a33ebcq3a-uc.a.run.app/upload">Upload New Package</a></p>
<p><a href="https://module-registry-website-4a33ebcq3a-uc.a.run.app/getPackageID">Get Package ID</a></p>
<p><a href="https://module-registry-website-4a33ebcq3a-uc.a.run.app/packageIDUpdate">Update Package ID</a></p>
<p><a href="https://module-registry-website-4a33ebcq3a-uc.a.run.app/packageRateID">Package Rate ID</a></p>
<p><a href="https://module-registry-website-4a33ebcq3a-uc.a.run.app/toResetRegistry">Reset Registry</a></p>


For support, email us at <a href="mailto:htharakr@purdue.edu">
htharakr@purdue.edu</a>.

<P> <B>Jack Knox, Salim Al Salmi, Haani Tharak</B>
<BR> <B><I></I></B>
<HR>
</BODY>
</HTML>