<!DOCTYPE html>
<HTML lang="en">
    <head>
        <meta charset = "utf-8" />
        <meta name = "viewport" content = "width=device-width, initial-scale=1" />
    </head>
    <body>
        <form method = "POST" action = "/">
            <label for="ID">Enter ID to Query:</label>
            <input type="text" id="packageID" name="ID"/><br>
            <button type="submit" formaction="/packageIDQuery">Query</button>
            <button type="submit" formaction="/packageIDDelete">Delete</button>
        </form>
    </body>
</html>