<!DOCTYPE html>
<HTML lang="en">
    <head>
        <meta charset = "utf-8" />
        <meta name = "viewport" content = "width=device-width, initial-scale=1" />
    </head>
    <body>
        <form method = "POST" action = "/packagesList">
            <label for="package">Packages:</label>
            <input type="text" id="packageQuery" name="Query" placeholder = "Enter Packages" /><br>
            <input type="text" id="packageOffset" name="Offset" placeholder = "Enter Page of results" /><br>
            <input type = "submit" value = "Upload">
        </form>
    </body>
</html>
